In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from pathlib import Path

DATA_DIR = Path("data")  # путь к папке с csv

train_path = DATA_DIR / "train.csv"
test_path  = DATA_DIR / "test.csv"
ex_path    = DATA_DIR / "ex.csv"

train = pd.read_csv(train_path)
test  = pd.read_csv(test_path)
ex    = pd.read_csv(ex_path)

print("Train shape:", train.shape)
print("Test shape: ", test.shape)

display(train.head())
display(test.head())
display(ex.head())

Train shape: (11017, 35)
Test shape:  (5000, 35)

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,RiskScore
0,2010-06-26,27.0,66829.0,549.0,17290.0,60.0,Divorced,1.0,Rent,1095.0,...,4.0,Employed,Associate,4.0,35067.0,0.257790,0.251465,508.970230,0.288013,66.176500
1,1996-09-23,55.0,172147.0,850.0,16110.0,36.0,Widowed,1.0,Mortgage,211.0,...,2.0,Employed,High School,33.0,27001.0,0.086110,0.093173,514.675859,0.050585,28.495737
2,2015-01-19,51.0,300000.0,850.0,38436.0,36.0,Married,0.0,Mortgage,546.0,...,3.0,Employed,Bachelor,28.0,278382.0,0.108436,0.115443,1268.276385,0.072571,34.488104
3,1981-05-12,25.0,34683.0,847.0,19186.0,48.0,Married,0.0,Other,153.0,...,3.0,Employed,High School,0.0,9224.0,0.100686,0.112822,498.505187,0.225415,36.910753
4,1995-05-07,55.0,300000.0,850.0,30437.0,48.0,Single,2.0,Rent,562.0,...,5.0,Employed,Bachelor,31.0,4502.0,0.110437,0.089037,756.035156,0.052721,31.347091

,ID,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,...,UtilityBillsPaymentHistory,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio
0,0,1979-01-03,49,207095,850,14458,60,Single,0,Rent,...,0.883232,6,Employed,High School,23,10626,0.104458,0.125350,325.532336,0.040650
1,1,2006-04-10,28,64653,674,65491,48,Single,2,Own,...,0.791928,3,Employed,High School,3,299024,0.233491,0.260561,2210.247757,0.454410
2,2,2013-11-28,41,300000,768,16811,60,Single,1,Own,...,0.805826,3,Employed,High School,19,6979,0.147811,0.154571,403.977431,0.034919
3,3,1995-08-24,50,300000,850,48737,36,Divorced,0,Mortgage,...,0.829294,3,Self-Employed,Bachelor,26,8438,0.118737,0.099712,1571.946906,0.085558
4,4,1980-06-15,35,300000,672,51916,60,Single,6,Mortgage,...,0.735013,7,Employed,Associate,12,436216,0.230916,0.237727,1486.675235,0.063707

   ID   RiskScore
0   0  100.200243
1   1    7.853891
2   2   17.343710
3   3  101.840874
4   4   30.889202

In [4]:
train.info()
print("\n---\n")
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11017 entries, 0 to 11016
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             10487 non-null  object
 1   Age                         10487 non-null  float64
 2   AnnualIncome                10487 non-null  float64
 3   CreditScore                 9986 non-null   float64
 4   LoanAmount                  9986 non-null   float64
 5   LoanDuration                10487 non-null  float64
 6   MaritalStatus               10487 non-null  object
 7   NumberOfDependents          10487 non-null  float64
 8   HomeOwnershipStatus         10487 non-null  object
 9   MonthlyDebtPayments         9986 non-null   float64
 10  CreditCardUtilizationRate   10487 non-null  float64
 11  NumberOfOpenCreditLines     10487 non-null  float64
 12  NumberOfCreditInquiries     10487 non-null  float64
 13  DebtToIncomeRatio           10487 non-null  float64
 14  BankruptcyHistory           9986 non-null   float64
 15  LoanPurpose                 9986 non-null   object
 16  PreviousLoanDefaults        10487 non-null  float64
 17  PaymentHistory              10487 non-null  float64
 18  LengthOfCreditHistory       10487 non-null  float64
 19  SavingsAccountBalance       10487 non-null  float64
 20  CheckingAccountBalance      9986 non-null   float64
 21  TotalAssets                 9986 non-null   float64
 22  TotalLiabilities            10487 non-null  float64
 23  MonthlyIncome               10487 non-null  float64
 24  UtilityBillsPaymentHistory  10487 non-null  float64
 25  JobTenure                   10487 non-null  float64
 26  EmploymentStatus            10487 non-null  object
 27  EducationLevel              10487 non-null  object
 28  Experience                  10487 non-null  float64
 29  NetWorth                    9986 non-null   float64
 30  BaseInterestRate            9986 non-null   float64
 31  InterestRate                10487 non-null  float64
 32  MonthlyLoanPayment          10487 non-null  float64
 33  TotalDebtToIncomeRatio      10487 non-null  float64
 34  RiskScore                   10487 non-null  float64
dtypes: float64(29), object(6)
memory usage: 2.9+ MB

---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          5000 non-null   int64
 1   ApplicationDate             5000 non-null   object
 2   Age                         5000 non-null   int64
 3   AnnualIncome                5000 non-null   int64
 4   CreditScore                 5000 non-null   int64
 5   LoanAmount                  5000 non-null   int64
 6   LoanDuration                5000 non-null   int64
 7   MaritalStatus               5000 non-null   object
 8   NumberOfDependents          5000 non-null   int64
 9   HomeOwnershipStatus         5000 non-null   object
 10  MonthlyDebtPayments         5000 non-null   int64
 11  CreditCardUtilizationRate   5000 non-null   float64
 12  NumberOfOpenCreditLines     5000 non-null   int64
 13  NumberOfCreditInquiries     5000 non-null   int64
 14  DebtToIncomeRatio           5000 non-null   float64
 15  BankruptcyHistory           5000 non-null   int64
 16  LoanPurpose                 5000 non-null   object
 17  PreviousLoanDefaults        5000 non-null   int64
 18  PaymentHistory              5000 non-null   int64
 19  LengthOfCreditHistory       5000 non-null   int64
 20  SavingsAccountBalance       5000 non-null   int64
 21  CheckingAccountBalance      5000 non-null   int64
 22  TotalAssets                 5000 non-null   int64
 23  TotalLiabilities            5000 non-null   int64
 24  MonthlyIncome               5000 non-null   float64
 25  UtilityBillsPaymentHistory  5000 non-null   float64
 26  JobTenure                   5000 non-null   int64
 27  EmploymentStatus            5000 non-null   object
 28  EducationLevel              5000 non-null   object
 29  Experience                  5000 non-null   int64
 30  NetWorth                    5000 non-null   int64
 31  BaseInterestRate            5000 non-null   float64
 32  InterestRate                5000 non-null   float64
 33  MonthlyLoanPayment          5000 non-null   float64
 34  TotalDebtToIncomeRatio      5000 non-null   float64
dtypes: float64(8), int64(21), object(6)
memory usage: 1.3+ MB

In [5]:
cat_cols = train.select_dtypes(include=["object"]).columns.tolist()
{col: train[col].nunique(dropna=True) for col in cat_cols}

{'ApplicationDate': 10000,
 'MaritalStatus': 4,
 'HomeOwnershipStatus': 4,
 'LoanPurpose': 5,
 'EmploymentStatus': 3,
 'EducationLevel': 5}

In [6]:
missing_train = train.isna().sum().sort_values(ascending=False)
missing_test  = test.isna().sum().sort_values(ascending=False)

print("Пропуски в train (топ):")
print(missing_train.head(20))

print("\nПропуски в test (топ):")
print(missing_test.head(20))

print("\nСтолбцы с пропусками в train:")
print(missing_train[missing_train > 0])

print("\nСтолбцы с пропусками в test:")
print(missing_test[missing_test > 0])

Пропуски в train (топ):
MonthlyDebtPayments          1031
LoanAmount                   1031
CreditScore                  1031
BaseInterestRate             1031
NetWorth                     1031
TotalAssets                  1031
BankruptcyHistory            1031
LoanPurpose                  1031
CheckingAccountBalance       1031
ApplicationDate               530
Age                           530
AnnualIncome                  530
HomeOwnershipStatus           530
NumberOfCreditInquiries       530
NumberOfOpenCreditLines       530
CreditCardUtilizationRate     530
NumberOfDependents            530
MaritalStatus                 530
LoanDuration                  530
LengthOfCreditHistory         530
dtype: int64

Пропуски в test (топ):
ID                           0
ApplicationDate              0
Age                          0
AnnualIncome                 0
CreditScore                  0
LoanAmount                   0
LoanDuration                 0
MaritalStatus                0
NumberOfDependents           0
HomeOwnershipStatus          0
MonthlyDebtPayments          0
CreditCardUtilizationRate    0
NumberOfOpenCreditLines      0
NumberOfCreditInquiries      0
DebtToIncomeRatio            0
BankruptcyHistory            0
LoanPurpose                  0
PreviousLoanDefaults         0
PaymentHistory               0
LengthOfCreditHistory        0
dtype: int64

Столбцы с пропусками в train:
MonthlyDebtPayments           1031
LoanAmount                    1031
CreditScore                   1031
BaseInterestRate              1031
NetWorth                      1031
TotalAssets                   1031
BankruptcyHistory             1031
LoanPurpose                   1031
CheckingAccountBalance        1031
ApplicationDate                530
Age                            530
AnnualIncome                   530
HomeOwnershipStatus            530
NumberOfCreditInquiries        530
NumberOfOpenCreditLines        530
CreditCardUtilizationRate      530
NumberOfDependents             530
MaritalStatus                  530
LoanDuration                   530
LengthOfCreditHistory          530
PaymentHistory                 530
PreviousLoanDefaults           530
DebtToIncomeRatio              530
MonthlyIncome                  530
UtilityBillsPaymentHistory     530
SavingsAccountBalance          530
TotalLiabilities               530
EmploymentStatus               530
JobTenure                      530
Experience                     530
EducationLevel                 530
InterestRate                   530
MonthlyLoanPayment             530
TotalDebtToIncomeRatio         530
RiskScore                      530
dtype: int64

Столбцы с пропусками в test:
Series([], dtype: int64)

In [7]:
train_target_na = train["RiskScore"].isna().sum()
print("Строк с NaN в RiskScore:", train_target_na)

Строк с NaN в RiskScore: 530

In [8]:
numeric_cols = [
    "Age", "AnnualIncome", "CreditScore", "LoanAmount", "LoanDuration",
    "DebtToIncomeRatio", "TotalDebtToIncomeRatio",
    "NetWorth", "TotalAssets", "TotalLiabilities",
    "RiskScore"
]

train[numeric_cols].describe()

,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,DebtToIncomeRatio,TotalDebtToIncomeRatio,NetWorth,TotalAssets,TotalLiabilities,RiskScore
count,10487.000000,10487.000000,9986.000000,9986.000000,10487.000000,10487.000000,10487.000000,9.986000e+03,9.986000e+03,1.048700e+04,1.048700e+04
mean,39.850386,131587.872127,678.082716,29874.218306,53.439878,0.250610,0.517577,1.542381e+05,1.830476e+05,6.881696e+04,-2.569878e+04
std,11.614132,115791.941909,175.192486,27705.509722,24.493562,0.144543,0.894637,4.622229e+05,4.673964e+05,2.032359e+05,1.431675e+06
min,18.000000,15000.000000,300.000000,1063.000000,12.000000,0.003227,0.006064,1.004000e+03,8.920000e+02,7.800000e+01,-9.999999e+06
25%,32.000000,20959.500000,550.000000,12658.000000,36.000000,0.138695,0.066734,7.252500e+03,2.311100e+04,7.983500e+03,3.256475e+01
50%,40.000000,89015.000000,722.500000,21828.500000,48.000000,0.228638,0.178193,2.742950e+04,6.054350e+04,2.262500e+04,4.411876e+01
75%,48.000000,257025.000000,850.000000,37158.000000,60.000000,0.341013,0.637457,1.241758e+05,1.616955e+05,5.951700e+04,6.535690e+01
max,80.000000,748508.000000,850.000000,418997.000000,120.000000,0.865842,24.383046,1.126117e+07,1.128946e+07,8.997054e+06,1.000000e+07

In [9]:
train["RiskScore"].describe()

count    1.048700e+04
mean    -2.569878e+04
std      1.431675e+06
min     -9.999999e+06
25%      3.256475e+01
50%      4.411876e+01
75%      6.535690e+01
max      1.000000e+07
Name: RiskScore, dtype: float64

In [10]:
outlier_mask = train["RiskScore"].abs() > 1000
outlier_count = outlier_mask.sum()
train.loc[outlier_mask, "RiskScore"].head()

33    -9999999.0
56    -9999999.0
83    -9999999.0
183   -9999999.0
198   -9999999.0
Name: RiskScore, dtype: float64

In [11]:
for col in ["MaritalStatus", "HomeOwnershipStatus", "LoanPurpose",
            "EmploymentStatus", "EducationLevel"]:
    print(f"\n{col}:")
    print(train[col].value_counts(dropna=False))

MaritalStatus:
MaritalStatus
Married     5145
Single      3217
Divorced    1562
Widowed      563
NaN          530
Name: count, dtype: int64

HomeOwnershipStatus:
HomeOwnershipStatus
Mortgage    4148
Rent        3186
Own         2116
Other       1037
NaN          530
Name: count, dtype: int64

LoanPurpose:
LoanPurpose
Home                  2981
Debt Consolidation    2446
Auto                  2010
Education             1601
NaN                   1031
Other                  948
Name: count, dtype: int64

EmploymentStatus:
EmploymentStatus
Employed         9059
Self-Employed     992
NaN               530
Unemployed        436
Name: count, dtype: int64

EducationLevel:
EducationLevel
High School    4234
Bachelor       3092
Associate      2057
Master          755
NaN             530
Doctorate       349
Name: count, dtype: int64

In [12]:
import pandas as pd
import numpy as np

# Начинаем с исходного train
train_raw = train.copy()

# 1) Убираем строки без таргета
train_clean = train_raw[train_raw["RiskScore"].notna()].copy()

# 2) Убираем явные мусорные значения таргета
sentinel_values = [-9999999.0, 10000000.0]
train_clean = train_clean[~train_clean["RiskScore"].isin(sentinel_values)].copy()

print("Исходный train:", train_raw.shape)
print("После очистки:", train_clean.shape)

train_clean["RiskScore"].describe()

Исходный train: (11017, 35)
После очистки: (10272, 35)

count    10272.000000
mean        48.358094
std         17.241456
min         14.841417
25%         32.722756
50%         44.195792
75%         65.124190
max         97.597249
Name: RiskScore, dtype: float64

In [13]:
for df in (train_clean, test):
    df["ApplicationDate"] = pd.to_datetime(df["ApplicationDate"], errors="coerce")
    df["ApplicationYear"] = df["ApplicationDate"].dt.year
    df["ApplicationMonth"] = df["ApplicationDate"].dt.month

train_clean[["ApplicationDate", "ApplicationYear", "ApplicationMonth"]].head()

  ApplicationDate  ApplicationYear  ApplicationMonth
0      2010-06-26             2010                 6
1      1996-09-23             1996                 9
2      2015-01-19             2015                 1
3      1981-05-12             1981                 5
4      1995-05-07             1995                 5

In [14]:
categorical_cols = train_clean.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

['MaritalStatus',
 'HomeOwnershipStatus',
 'LoanPurpose',
 'EmploymentStatus',
 'EducationLevel']

In [15]:
feature_cols = [c for c in train_clean.columns if c != "RiskScore"]

numeric_cols = [
    c for c in feature_cols
    if c not in categorical_cols and c != "ApplicationDate"
]

print("Категориальные признаки:", categorical_cols)
print("Числовых признаков:", len(numeric_cols))
print(numeric_cols[:15])

Категориальные признаки: ['MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose', 'EmploymentStatus', 'EducationLevel']
Числовых признаков: 30
['Age', 'AnnualIncome', 'CreditScore', 'LoanAmount', 'LoanDuration', 'NumberOfDependents', 'MonthlyDebtPayments', 'CreditCardUtilizationRate', 'NumberOfOpenCreditLines', 'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory', 'PreviousLoanDefaults', 'PaymentHistory', 'LengthOfCreditHistory']

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

# Пайплайн для числовых признаков
numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

# Пайплайн для категориальных признаков
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

# Общий препроцессор
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_cols),
        ("cat", categorical_transformer, categorical_cols),
    ]
)

# Полный пайплайн: препроцессинг + линейная регрессия
linreg_pipeline = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("model", LinearRegression())
])

# На всякий случай сформируем X и y для будущего обучения
X = train_clean[numeric_cols + categorical_cols]
y = train_clean["RiskScore"]

X.shape, y.shape

((10272, 35), (10272,))

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

# ==========================
#  1) Очистка таргета
# ==========================

train_raw = train.copy()

# Убираем NaN в RiskScore
train_clean = train_raw[train_raw["RiskScore"].notna()].copy()

# Убираем явные мусорные значения таргета
sentinel_values = [-9999999.0, 10000000.0]
train_clean = train_clean[~train_clean["RiskScore"].isin(sentinel_values)].copy()

print("Исходный train:", train_raw.shape)
print("После очистки: ", train_clean.shape)

# ==========================
#  2) Работа с датой
# ==========================

for df in (train_clean, test):
    df["ApplicationDate"] = pd.to_datetime(df["ApplicationDate"], errors="coerce")
    df["ApplicationYear"] = df["ApplicationDate"].dt.year
    df["ApplicationMonth"] = df["ApplicationDate"].dt.month

# ==========================
#  3) Списки признаков
# ==========================

categorical_cols = train_clean.select_dtypes(include=["object"]).columns.tolist()
feature_cols = [c for c in train_clean.columns if c != "RiskScore"]

numeric_cols = [
    c for c in feature_cols
    if c not in categorical_cols and c != "ApplicationDate"
]

print("Категориальные признаки:", categorical_cols)
print("Числовых признаков:", len(numeric_cols))

# ==========================
#  4) Препроцессор
# ==========================

numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_cols),
        ("cat", categorical_transformer, categorical_cols),
    ]
)

# ==========================
#  5) Полный пайплайн
# ==========================

linreg_pipeline = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("model", LinearRegression())
])

# ==========================
#  6) Train/validation split
# ==========================

X = train_clean[numeric_cols + categorical_cols]
y = train_clean["RiskScore"]

X_train, X_val, y_train, y_val = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

print("X_train:", X_train.shape, "X_val:", X_val.shape)

# ==========================
#  7) Обучение модели
# ==========================

linreg_pipeline.fit(X_train, y_train)

# ==========================
#  8) Предсказания и метрики
# ==========================

y_pred = linreg_pipeline.predict(X_val)

mse = mean_squared_error(y_val, y_pred)
mae = mean_absolute_error(y_val, y_pred)
r2  = r2_score(y_val, y_pred)

# MAPE с защитой от деления на ноль
eps = 1e-8
mask = y_val.abs() > eps
mape = (np.abs((y_val[mask] - y_pred[mask]) / y_val[mask]).mean()) * 100

print(f"MSE  = {mse:.4f}")
print(f"MAE  = {mae:.4f}")
print(f"R^2  = {r2:.4f}")
print(f"MAPE = {mape:.2f}%")

Исходный train: (11017, 35)
После очистки:  (10272, 35)
Категориальные признаки: ['MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose', 'EmploymentStatus', 'EducationLevel']
Числовых признаков: 30
X_train: (8217, 35) X_val: (2055, 35)
MSE  = 53.8550
MAE  = 5.8929
R^2  = 0.8199
MAPE = 14.05%

In [22]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# ==========================
#  1) Очистка таргета
# ==========================

train_raw = train.copy()

# Убираем NaN в RiskScore
train_clean = train_raw[train_raw["RiskScore"].notna()].copy()

# Убираем явные мусорные значения таргета
sentinel_values = [-9999999.0, 10000000.0]
train_clean = train_clean[~train_clean["RiskScore"].isin(sentinel_values)].copy()

print("Исходный train:", train_raw.shape)
print("После очистки: ", train_clean.shape)

# ==========================
#  2) Работа с датой
# ==========================

for df in (train_clean, test):
    df["ApplicationDate"] = pd.to_datetime(df["ApplicationDate"], errors="coerce")
    df["ApplicationYear"] = df["ApplicationDate"].dt.year
    df["ApplicationMonth"] = df["ApplicationDate"].dt.month

# ==========================
#  3) Лог-преобразование
#    (боремся с сильной положительной асимметрией)
# ==========================

log_cols = [
    "TotalLiabilities",
    "NetWorth",
    "TotalAssets",
    "CheckingAccountBalance",
    "TotalDebtToIncomeRatio",
    "SavingsAccountBalance",
    "MonthlyLoanPayment",
    "BankruptcyHistory",
    "LoanAmount",
    "MonthlyDebtPayments",
    "PreviousLoanDefaults",
]

train_log = train_clean.copy()
test_log  = test.copy()

for df in (train_log, test_log):
    for col in log_cols:
        df[col] = np.log1p(df[col])  # log(1 + x), безопасно для нулей

# ==========================
#  4) Инженерия ключевых финансовых признаков
# ==========================

train_fe = train_log.copy()
test_fe  = test_log.copy()

for df in (train_fe, test_fe):
    # 1) Леверидж — отношение активов к обязательствам
    df["AssetsToLiabilities"] = df["TotalAssets"] / (df["TotalLiabilities"] + 1.0)

    # 2) Долговая нагрузка — платежи по долгам к доходу
    df["DebtServiceToIncome"] = (df["MonthlyDebtPayments"] + df["MonthlyLoanPayment"]) / (df["MonthlyIncome"] + 1.0)

    # 3) Спред ставки — наценка к базовой ставке
    df["InterestSpread"] = df["InterestRate"] - df["BaseInterestRate"]

    # 4) Кредитные линии в год истории
    df["CreditLinesPerYear"] = df["NumberOfOpenCreditLines"] / (df["LengthOfCreditHistory"] + 1.0)

    # 5) Запросы на кредит в год истории
    df["InquiriesPerYear"] = df["NumberOfCreditInquiries"] / (df["LengthOfCreditHistory"] + 1.0)

# ==========================
#  5) Списки признаков
# ==========================

categorical_cols_fe = train_fe.select_dtypes(include=["object"]).columns.tolist()
feature_cols_fe = [c for c in train_fe.columns if c != "RiskScore"]

numeric_cols_fe = [
    c for c in feature_cols_fe
    if c not in categorical_cols_fe and c != "ApplicationDate"
]

print("Категориальные признаки:", categorical_cols_fe)
print("Числовых признаков:", len(numeric_cols_fe))

# ==========================
#  6) Препроцессор + линейная регрессия
#    (импутация + RobustScaler + OHE)
# ==========================

numeric_transformer_fe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", RobustScaler())
])

categorical_transformer_fe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor_fe = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer_fe, numeric_cols_fe),
        ("cat", categorical_transformer_fe, categorical_cols_fe),
    ]
)

final_pipeline = Pipeline(steps=[
    ("preprocess", preprocessor_fe),
    ("model", LinearRegression())
])

# ==========================
#  7) Train/Validation split
# ==========================

X_fe = train_fe[numeric_cols_fe + categorical_cols_fe]
y_fe = train_fe["RiskScore"]

X_train_fe, X_val_fe, y_train_fe, y_val_fe = train_test_split(
    X_fe, y_fe,
    test_size=0.2,
    random_state=42
)

# ==========================
#  8) Обучение и метрики
# ==========================

final_pipeline.fit(X_train_fe, y_train_fe)
y_pred_fe = final_pipeline.predict(X_val_fe)

mse_fe  = mean_squared_error(y_val_fe, y_pred_fe)
mae_fe  = mean_absolute_error(y_val_fe, y_pred_fe)
r2_fe   = r2_score(y_val_fe, y_pred_fe)

eps = 1e-8
mask = y_val_fe.abs() > eps
mape_fe = (np.abs((y_val_fe[mask] - y_pred_fe[mask]) / y_val_fe[mask]).mean()) * 100

print(f"MSE  = {mse_fe:.4f}")
print(f"MAE  = {mae_fe:.4f}")
print(f"R^2  = {r2_fe:.4f}")
print(f"MAPE = {mape_fe:.2f}%")

Исходный train: (11017, 35)
После очистки:  (10272, 35)
Категориальные признаки: ['MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose', 'EmploymentStatus', 'EducationLevel']
Числовых признаков: 35
MSE  = 45.6986
MAE  = 5.4256
R^2  = 0.8472
MAPE = 12.70%

In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# --- 1. Очистка таргета ---

train_raw = train.copy()

# убираем NaN
train_clean = train_raw[train_raw["RiskScore"].notna()].copy()

# убираем явный мусор
sentinel_values = [-9999999.0, 10000000.0]
train_clean = train_clean[~train_clean["RiskScore"].isin(sentinel_values)].copy()

print("Train raw shape:  ", train_raw.shape)
print("Train clean shape:", train_clean.shape)

# --- 2. Дата: year + month ---

for df in (train_clean, test):
    df["ApplicationDate"] = pd.to_datetime(df["ApplicationDate"], errors="coerce")
    df["ApplicationYear"] = df["ApplicationDate"].dt.year
    df["ApplicationMonth"] = df["ApplicationDate"].dt.month

# --- 3. Лог-преобразование сильно скошенных числовых признаков ---

log_cols = [
    "TotalLiabilities",
    "NetWorth",
    "TotalAssets",
    "CheckingAccountBalance",
    "TotalDebtToIncomeRatio",
    "SavingsAccountBalance",
    "MonthlyLoanPayment",
    "BankruptcyHistory",
    "LoanAmount",
    "MonthlyDebtPayments",
    "PreviousLoanDefaults",
]

train_log = train_clean.copy()
test_log  = test.copy()

for df in (train_log, test_log):
    for col in log_cols:
        df[col] = np.log1p(df[col])  # логарифм по (1 + x)

# --- 4. Инженерия признаков (финансовые коэффициенты) ---

train_fe = train_log.copy()
test_fe  = test_log.copy()

for df in (train_fe, test_fe):
    # Активы / обязательства
    df["AssetsToLiabilities"] = df["TotalAssets"] / (df["TotalLiabilities"] + 1.0)
    # Платежи / доход
    df["DebtServiceToIncome"] = (df["MonthlyDebtPayments"] + df["MonthlyLoanPayment"]) / (df["MonthlyIncome"] + 1.0)
    # Спред ставки
    df["InterestSpread"] = df["InterestRate"] - df["BaseInterestRate"]
    # Кредитные линии в год истории
    df["CreditLinesPerYear"] = df["NumberOfOpenCreditLines"] / (df["LengthOfCreditHistory"] + 1.0)
    # Запросы на кредит в год истории
    df["InquiriesPerYear"] = df["NumberOfCreditInquiries"] / (df["LengthOfCreditHistory"] + 1.0)

# --- 5. Списки признаков ---

categorical_cols_fe = train_fe.select_dtypes(include=["object"]).columns.tolist()

# в train нет ID, но на всякий случай уберём его из признаков
feature_cols_fe = [c for c in train_fe.columns if c != "RiskScore"]

numeric_cols_fe = [
    c for c in feature_cols_fe
    if c not in categorical_cols_fe and c not in ["ApplicationDate", "ID"]
]

print("Категориальные признаки:", categorical_cols_fe)
print("Числовых признаков:", len(numeric_cols_fe))

# --- 6. Препроцессор и модель ---

numeric_transformer_fe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", RobustScaler())
])

categorical_transformer_fe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor_fe = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer_fe, numeric_cols_fe),
        ("cat", categorical_transformer_fe, categorical_cols_fe),
    ]
)

final_pipeline = Pipeline(steps=[
    ("preprocess", preprocessor_fe),
    ("model", LinearRegression())
])

# --- 7. (опционально) проверка на hold-out выборке ---

X_full = train_fe[numeric_cols_fe + categorical_cols_fe]
y_full = train_fe["RiskScore"]

X_tr, X_val, y_tr, y_val = train_test_split(
    X_full, y_full, test_size=0.2, random_state=42
)

final_pipeline.fit(X_tr, y_tr)
y_val_pred = final_pipeline.predict(X_val)

mse  = mean_squared_error(y_val, y_val_pred)
mae  = mean_absolute_error(y_val, y_val_pred)
r2   = r2_score(y_val, y_val_pred)
eps  = 1e-8
mask = y_val.abs() > eps
mape = (np.abs((y_val[mask] - y_val_pred[mask]) / y_val[mask]).mean()) * 100

print(f"Hold-out MSE  = {mse:.4f}")
print(f"Hold-out MAE  = {mae:.4f}")
print(f"Hold-out R^2  = {r2:.4f}")
print(f"Hold-out MAPE = {mape:.2f}%")

# --- 8. Обучение на всём train_clean (финальная модель) ---

final_pipeline.fit(X_full, y_full)

# --- 9. Предсказание на test и формирование submission ---

X_test = test_fe[numeric_cols_fe + categorical_cols_fe]
test_pred = final_pipeline.predict(X_test)

submission = pd.DataFrame({
    "ID": test_fe["ID"],
    "RiskScore": test_pred
})

submission.head()

# Сохраняем файл для Kaggle
submission.to_csv("submission_linreg_fe.csv", index=False)
print("Submission saved to submission_linreg_fe.csv")

Train raw shape:   (11017, 35)
Train clean shape: (10272, 35)
Категориальные признаки: ['MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose', 'EmploymentStatus', 'EducationLevel']
Числовых признаков: 35
Hold-out MSE  = 45.6986
Hold-out MAE  = 5.4256
Hold-out R^2  = 0.8472
Hold-out MAPE = 12.70%
Submission saved to submission_linreg_fe.csv

In [25]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, RobustScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# ==========================
# 1. Очистка таргета
# ==========================

train_raw = train.copy()

# убираем NaN
train_clean = train_raw[train_raw["RiskScore"].notna()].copy()

# убираем явные мусорные значения
sentinel_values = [-9999999.0, 10000000.0]
train_clean = train_clean[~train_clean["RiskScore"].isin(sentinel_values)].copy()

print("Train raw:", train_raw.shape)
print("Train clean:", train_clean.shape)
print(train_clean["RiskScore"].describe())

# ==========================
# 2. Работа с датой
# ==========================

for df in (train_clean, test):
    df["ApplicationDate"] = pd.to_datetime(df["ApplicationDate"], errors="coerce")
    df["ApplicationYear"] = df["ApplicationDate"].dt.year
    df["ApplicationMonth"] = df["ApplicationDate"].dt.month

# ==========================
# 3. Лог-преобразование
# ==========================

log_cols = [
    "TotalLiabilities",
    "NetWorth",
    "TotalAssets",
    "CheckingAccountBalance",
    "TotalDebtToIncomeRatio",
    "SavingsAccountBalance",
    "MonthlyLoanPayment",
    "BankruptcyHistory",
    "LoanAmount",
    "MonthlyDebtPayments",
    "PreviousLoanDefaults",
]

train_log = train_clean.copy()
test_log  = test.copy()

for df in (train_log, test_log):
    for col in log_cols:
        df[col] = np.log1p(df[col])

# ==========================
# 4. Инженерия признаков
# ==========================

train_fe = train_log.copy()
test_fe  = test_log.copy()

for df in (train_fe, test_fe):
    df["AssetsToLiabilities"] = df["TotalAssets"] / (df["TotalLiabilities"] + 1.0)
    df["DebtServiceToIncome"] = (df["MonthlyDebtPayments"] + df["MonthlyLoanPayment"]) / (df["MonthlyIncome"] + 1.0)
    df["InterestSpread"]      = df["InterestRate"] - df["BaseInterestRate"]
    df["CreditLinesPerYear"]  = df["NumberOfOpenCreditLines"] / (df["LengthOfCreditHistory"] + 1.0)
    df["InquiriesPerYear"]    = df["NumberOfCreditInquiries"] / (df["LengthOfCreditHistory"] + 1.0)

# (interaction terms из предыдущего шага можно оставить или убрать — я использую базовую версию без них,
# т.к. полиномы 3-й степени уже создают много взаимодействий сами по себе)

# ==========================
# 5. Списки фич
# ==========================

categorical_cols = train_fe.select_dtypes(include=["object"]).columns.tolist()
feature_cols = [c for c in train_fe.columns if c != "RiskScore"]

numeric_cols = [
    c for c in feature_cols
    if c not in categorical_cols and c not in ["ApplicationDate", "ID"]
]

print("Категориальные:", categorical_cols)
print("Числовых:", len(numeric_cols))

# ==========================
# 6. Полиномиальные фичи
#    (только для топ-предикторов)
# ==========================

poly_cols = [
    "DebtServiceToIncome",
    "CreditScore",
    "MonthlyIncome",
    "BaseInterestRate",
    "AnnualIncome",
    "InterestRate",
    "TotalDebtToIncomeRatio",
]

rest_num_cols = [c for c in numeric_cols if c not in poly_cols]

print("poly_cols:", poly_cols)
print("rest_num_cols:", len(rest_num_cols))

# ==========================
# 7. Препроцессинг и модель
# ==========================

poly_numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("poly", PolynomialFeatures(degree=3, include_bias=False)),
    ("scaler", RobustScaler())
])

basic_numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", RobustScaler())
])

categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor_poly = ColumnTransformer(
    transformers=[
        ("poly_num", poly_numeric_transformer, poly_cols),
        ("num",      basic_numeric_transformer, rest_num_cols),
        ("cat",      categorical_transformer,   categorical_cols),
    ]
)

pipe_poly = Pipeline(steps=[
    ("preprocess", preprocessor_poly),
    ("model", LinearRegression())
])

X = train_fe[numeric_cols + categorical_cols]
y = train_fe["RiskScore"]

# ==========================
# 8. 5-fold cross-validation
# ==========================

kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(pipe_poly, X, y, cv=kf,
                            scoring="neg_mean_squared_error")

mse_cv = -cv_scores
print("CV MSE per fold:", mse_cv)
print("CV MSE mean:", mse_cv.mean())
print("CV MSE std:", mse_cv.std())

# ==========================
# 9. Hold-out для сравнения
# ==========================

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

pipe_poly.fit(X_train, y_train)
y_val_pred = pipe_poly.predict(X_val)

mse_hold  = mean_squared_error(y_val, y_val_pred)
mae_hold  = mean_absolute_error(y_val, y_val_pred)
r2_hold   = r2_score(y_val, y_val_pred)
eps = 1e-8
mask = y_val.abs() > eps
mape_hold = (np.abs((y_val[mask] - y_val_pred[mask]) / y_val[mask]).mean()) * 100

print(f"Hold-out MSE  = {mse_hold:.4f}")
print(f"Hold-out MAE  = {mae_hold:.4f}")
print(f"Hold-out R^2  = {r2_hold:.4f}")
print(f"Hold-out MAPE = {mape_hold:.2f}%")

Train raw: (11017, 35)
Train clean: (10272, 35)
count    10272.000000
mean        48.358094
std         17.241456
min         14.841417
25%         32.722756
50%         44.195792
75%         65.124190
max         97.597249
Name: RiskScore, dtype: float64
Категориальные: ['MaritalStatus', 'HomeOwnershipStatus', 'LoanPurpose', 'EmploymentStatus', 'EducationLevel']
Числовых: 35
poly_cols: ['DebtServiceToIncome', 'CreditScore', 'MonthlyIncome', 'BaseInterestRate', 'AnnualIncome', 'InterestRate', 'TotalDebtToIncomeRatio']
rest_num_cols: 28
CV MSE per fold: [32.6604566  30.40642628 29.99377455 32.41542028 30.02193516]
CV MSE mean: 31.09960257371902
CV MSE std: 1.185947514619107
Hold-out MSE  = 32.6605
Hold-out MAE  = 4.1659
Hold-out R^2  = 0.8908
Hold-out MAPE = 9.72%

In [26]:
# === 10. Обучаем модель на ВСЁМ train ===

X_full = train_fe[numeric_cols + categorical_cols]
y_full = train_fe["RiskScore"]

pipe_poly.fit(X_full, y_full)

# === 11. Предсказания на test ===

X_test = test_fe[numeric_cols + categorical_cols]
test_pred = pipe_poly.predict(X_test)

# === 12. Формируем сабмит ===

submission_poly = pd.DataFrame({
    "ID": test_fe["ID"],      # или test["ID"], если так удобнее
    "RiskScore": test_pred
})

submission_poly.to_csv("submission_poly3.csv", index=False)
print("Saved to submission_poly3.csv")
display(submission_poly.head())

Saved to submission_poly3.csv

   ID  RiskScore
0   0  34.896054
1   1  54.312147
2   2  31.260591
3   3  36.122545
4   4  32.323017